:root {
  --color-1: hsl(40, 100%, 50%); /* Laranja */
  --color-2: hsl(0, 0%, 100%); /* Cinza claro */
  --color-3: hsl(0, 0%, 100%); /* Branco */
  --color-4: hsl(0, 0%, 10%); /* Preto */
  --color-5: hsl(36, 100%, 50%); /* Azul claro */
  --color-6: hsl(40, 100%, 60%); /* Laranja mais claro */
  --color-7: hsl(40, 100%, 70%); /* Laranja ainda mais claro */
  --color-8: hsl(125, 75%, 41%); /* verde */
}

.navbar {
  background-color: var(--color-2);
}

.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 3.5rem);
  background: linear-gradient(to bottom, rgb(3, 3, 3) 0%, rgba(221, 145, 91, 0.8) 100%), url("/img/wp8562689-toasted-bread-wallpapers\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead #itens {
  padding: 100px;
}

header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}

#about {
  display: flex;
    justify-content: center;
    align-items: center;
}

#divider {
  color: var(--color-2);
  height: 10px;
}

.img {
  position: relative;
  display: flex;
}

#section1 {
  width: 100%;
  padding: 30px;
}

.img img {
  border-radius: 10%;
}

#botao {
  color: var(--color-4);
  background-color: var(--color-2);
  height: 50px;
  text-align: center;
  padding: 10px;
}

#iframemap {
  width: 350px;
  height: 300px;
  border-radius: 2%;
  margin-left: 3%;
}

.back {
  background-color: var(--color-2);
  margin-top: 5%;
  padding-top: 5%;
}

#botao2 {
  background-color: var(--color-3);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#botao3 {
  color: var(--color-4);
  background-color: var(--color-6);
  height: 70px;
  width: 270px;
  font-size: 25px;
  text-align: center;
}

#whatsapp {
  height: 50px;
  width: 50px;
  position: fixed!important;
  bottom: 10px;
  right: 10px;
  background-color: var(--color-3);
  color: var(--color-8);
  font-size: 25px;
}

.card {
  height: 500px;
}

footer {
  background-color: var(--color-7);
}

a {
  color: black;
}
